# Ignore Arduino IDE compiled binaries
*.elf
*.hex
*.o

# Ignore local build folders
build/
bin/

# PlatformIO
.pio/
.piolibdeps/
.pioenvs/

# KiCad Files to Ignore
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups/
_autosave-*
*.tmp
fp-info-cache
python_plugins/
*.lck
#auto_saved_files#

# KiCad Local Preferences
*.kicad_prl

# Manufacturing outputs (Optional: ignore if you want to regenerate them)
# *.gbr (Gerbers)
# *.drl (Drill files)

# IDE - VS Code
.vscode/
!.vscode/extensions.json

# Operating System Files
.DS_Store
Thumbs.db

# Secrets and Logs
.env
*.log
